<div class="col-auto d-lg-none">
    <button class="btn btn-icon btn-outline-secondary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#searchFilters" aria-controls="searchFilters" aria-expanded="false" aria-label="Toggle filter">
        {{ ux_icon('tabler:filter') }}
    </button>
</div>
