<div class="mb-4">
    <h4>{{ 'sylius.ui.search_results.title'}}</h4>
    <p><em>{{ 'sylius.ui.search_results.query'}} : {{ app.request.get('query', app.request.get('criteria').search.value|default('')) }}</em></p>
</div>
