<div class="mb-4">
    <h4>{{ 'gally_sylius.ui.search_results.title'|trans() }}</h4>
    <p><em>{{ 'gally_sylius.ui.search_results.query'|trans() }} : {{ app.request.get('query', app.request.get('criteria').search.value|default('')) }}</em></p>
</div>
